{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input class="validate" id="username" maxlength="15" minlength="5" name="username" pattern="^[a-zA-Z0-9]{5,15}$"
                           required type="text">
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input class="validate" id="password" maxlength="32" minlength="8" name="password" pattern="^[a-zA-Z0-9!]{5,15}$"
                           required type="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- register-->
            <div class="row">
                <button class="col s12 btn-large light-blue darken-4 text-shadow" type="submit">
                    Register <i class="material-icons">how_to_reg</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}